html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
}
* {
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
html, body {
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
     text-rendering: optimizeLegibility;

}
img {
    vertical-align: middle;
}
img {
    border: 0;
    width: 100%;
}
img, object, embed, video {
    max-width: 100%;
    height: auto;
}
a, li, ul {
    text-decoration: none;
}
a, a:active, a:visited, a:hover {
    text-decoration: none;
}
ul {
/*     list-style: none; */
    margin: 0;
    padding: 0;
}
li {
/*     list-style: none; */
    display: list-item;
    text-align: -webkit-match-parent;
    text-align: match-parent;
}

#wpadminbar{
    display: none;
}

html,
body {
    /*font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;*/
    font-family: Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    letter-spacing: -.02rem;
    font-style: normal;
    color: #333;
    background: #ffffff;
}

img{
    width: 100%;
    height: 100%;
}
.textwidget ul p{
    display: none;
}
.menu-primary-container{
    width: 100%;
    height: 50px;
    max-width: 80%;
    top: 50px;
    margin: 0 auto;
    position: relative;
}

.makerhome{
    float: right;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    position: relative;
    right: -2px;
}

.makerhome svg{
    width: 200px;
    position: relative;
    top: 14px;
    z-index: -1;
}
.makerhome:hover svg.maker_link path{
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    fill:#1AAB9B;
}
.makerhome:hover svg.maker_link_on_dark path{
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
}

.makerhome a{
    /*font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;*/
    font-family: Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: #291a41;
    position: relative;
    z-index: 1;
    top: -8px;
}

.menu .mlogo{
    float: left;
    position: relative;
    top: 16px;
}
.menu li img{
    width: 200px;
}
/* 404 page Start */
.pagecontainer{
    width:100%;
    height:100%;
    margin:13% auto;
    max-width:540px;
    text-align:center;
}
.bg-404{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    background: rgb(48, 189, 159);
}
.error404 .site-header{
    display:none;
}
.error404 .headerbg{
    background: rgb(48, 189, 159);
}
.pagecontainer h1{
    color: white;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 48px;
    line-height: 2;
    text-align:center;
}
.pagecontainer p{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
    color:white;
}
.pagecontainer button{
    background-color: white;
    color: rgb(48, 189, 159);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    padding: 14px 27px;
    transition: all 0.125s ease 0s;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.pagecontainer button:hover{
    color: #291a41;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.error404 .makerhome:hover svg path {
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    fill: white;
}

/* 404 page end*/



/*---------------Site Header-------*/

.headerbg{
    background-color: #F6F8F9;
}

.site-header{
    margin: 110px auto;
    max-width: 50%;
    text-align: center;
    margin-bottom: 60px;
}
.site-title{
    color: #291a41;
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 8px;
    text-align: center;
}
.site-description{
    color: #53546a;
    font-size: 22px;
    font-weight: 400;
text-align: center;
}
.single-post .site-header{
    display: none;
}
.category .site-header{
    display: none;
}
.search .site-header{
    display: none;
}

/*---------------Satic post--------*/
.line{
    width: 0px;
    height: 35px;
    -moz-border:2px solid #c1c1d0;
    -ms-border: 2px solid #c1c1d0;
    border-right: 2px solid #c1c1d0;
}
.social_inner{
    width: 100%;
    margin: 30px auto;
}
.social_inner h2{
    font-size: 15px;
    font-weight: 500;
    color: #53546a;
    text-align: center;
    margin-top: -1px;
    opacity: 0.6;
}
.social_inner .facebook{
    background-size: 27px;
    background: url(../img/tweet.svg);
    background-repeat: no-repeat;
    font-size: 29px;
    padding-left: 2.5em;
    -moz-transition: 0.7s;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    position: relative;
    top: 2px;
}
.social_inner .twitter{
    background-size: 26px;
    background: url(../img/Share.svg);
    background-repeat: no-repeat;
        padding-left: 2.5em;
    -moz-transition: 0.7s;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}
/*
.social_inner .facebook:hover{
    background: url(../img/tweet_black.svg);
    background-repeat: no-repeat;
}
.social_inner .twitter:hover{
    background: url(../img/Share_black.svg);
    background-repeat: no-repeat;
}
*/
.social_inner img{
    width: 25px;
    vertical-align: sub;
}
.social_inner span:first-child{
    margin-left: 50px;
}
.social_inner span{
    font-size: 29px;
}
.social_inner span:hover{
/*    background-position: center;*/
}



.content{
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    display: table;
}
.content h6{
    color: #291a41;
    position: relative;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.1px;
    margin-bottom: 30px;
}
.widget-title{
    color: #291a41;
    position: relative;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.1px;
    margin-bottom: 15px;
    text-transform:uppercase;
}

.cat-item-1{
    display:none;
}

.widget_search,
.widget_categories,
.widget_polylang {
    margin-top:50px;
}
.cat-item a {
    color: #447afb;
    font-size: 17px;
    font-weight: 500;
    text-transform:capitalize;
    letter-spacing:0.3px;
}
.widget_search ul,
.widget_categories ul,
.widget_polylang ul {
    margin-top:30px;
}
.widget_search ul li,
.widget_categories ul li,
.widget_polylang ul li {
    margin-bottom:15px;
}
.content_post{
    position: relative;
    margin: 0 auto;
    float: left;
    width: 70%;
    margin-bottom: 60px;
}

.content_post h2{
    font-size: 28px;
    line-height: 1.25;
    font-weight: 600;
    color: #291a41;
    margin-bottom: 10px;
    position: relative;
    max-width: 90%;
}
.content_post p{
    font-weight: normal;
    font-size: 20px;
    color: #53546a;
    margin-bottom: 20px;
    position: relative;
    max-width: 94.5%;
    line-height: 1.4;
    opacity: 0.95;
}
.content_post span.entry-date{
    font-size: 1em;
    font-weight: 500;
    opacity: .5
}
.content_post .button-container{
    margin-bottom: 30px;
}

.content_post .button-container a{
    color: #447afb;
    font-size: 17px;
    font-weight: 500;

}
.content_post hr{
    margin-bottom: 40px;
    color: #53546a;
    opacity: 0.4;
    max-width: 94.5%;
}

/*---------------Sidebar--------*/

.sidebar{
    width: 27.5%;
    float: right;
/*    margin-left: 8%;*/
}
.widget_media_image img{
    width: 52px;
    height: 52px;
    margin-bottom: 30px;
}
.textwidget p{
    color: #53546a;
    max-width: 100%;
    font-size: 17px;
    margin-bottom: 20px;
    position: relative;
    line-height: 1.5;
    font-weight: normal;
    display: inline-block;
    opacity: 0.95;
}

.textwidget p a svg{
    display: inline-block;
    margin-right: 30px;
    margin-top: 15px;
     -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.textwidget svg:hover{
     fill: gray;
}
.textwidget p:last-child{
    margin-right: 0;
}
.textwidget li{
    cursor: pointer;
    display: inline-block;
    margin-right: 16px;
    margin-top: 10px;
    vertical-align: top;
}
.textwidget .chats{
    background: url(../img/chats.svg);
    background-repeat: no-repeat;
    background-size: 28px;
    width: 28px;
    height: 30px;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    top: 1px;
}

.textwidget .chats a {
    display: block;
    height: 30px;
}

/*
.textwidget .chats:hover{
    background: url(../img/chats_black.svg);
    background-repeat: no-repeat;
}
*/
.textwidget .reddit{
      background: url(../img/reddit.svg);
    background-repeat: no-repeat;
    background-size: 26px;
    width: 28px;
    height: 30px;
    position: relative;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.textwidget .reddit a {
    display: block;
    height: 30px;
}

/*
.textwidget .reddit:hover{
    background: url(../img/reddit_black.svg);
    background-repeat: no-repeat;
}
*/

.textwidget .tweet{
    background: url(../img/tweets.svg);
    background-repeat: no-repeat;
    background-size: 26px;
    width: 29px;
    height: 27px;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    top: -1px;
}

.textwidget .tweet a {
    display: block;
    height: 27px;
}

/*
.textwidget .tweet:hover{
    margin-right: 0px;
    background: url(../img/tweets_black.svg);
    background-repeat: no-repeat;
}
*/

.textwidget .rss{
    margin-right: 0px;
    background: url(../img/rss.svg);
    background-repeat: no-repeat;
    background-size: 26px;
    width: 29px;
    height: 27px;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    top: -1px;
}

.textwidget .rss a {
    display: block;
    height: 27px;
}

.textwidget li img{
    width: 23px;
    margin-right: 5px;
}

.textwidget .facebook img{
    width: 11px;
    margin-left: 5px;
    margin-right: 14px;
}
/*---------------featured Images --------*/
.featured_images1 {
    width: 100%;
    margin: 0 auto 30px auto;
    display: table;
    position: relative;
    max-width: 80%;

}
.featured_images2{
    width: 100%;
    margin: 0 auto;
    display: table;
    margin-bottom: 50px;
    position: relative;
    max-width: 80%;
    padding-bottom: 88px;
}
.featured_images1 h3, .featured_images2 h3 {
    position: absolute;
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
    bottom: 60px;
    margin-left: 20px;
    max-width: 59%;
    line-height: 1.25;
}
.featured_images1 a, .featured_images2 a {
    color: #ffffff;
}
.featured_images1 small, .featured_images2 small {
    position: absolute;
    bottom: 30px;
    margin-left: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    opacity: 0.7;
}
.featured_images2 .featured_img3{
    margin: 0;
}

.featured_img3,
.featured_img4,
.featured_img5{
    float: left;
    width: 32%;
    margin-left: 2%;
    position: relative;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

#gradiantlayer{
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-border-radius:12px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.featured_images1 img{
    height: 400px;
}

.featured_images2 img{
    height: 295px;
}
.featured_img1{
    width: 60%;
    float: left;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.featured_img2{
    width: 38%;
    float: left;
    margin-left: 2%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}


.overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60%;
    opacity: 0;
    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
     transition: .3s ease;
    background-color: #1AAB9B;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.featured_img1:hover .overlay1 {
  opacity: 0.7;
}

.overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 38%;
    opacity: 0;
    transition: .3s ease;
    background-color: #1AAB9B;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.featured_img2:hover .overlay2 {
  opacity: 0.7;
}

.overlay3 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #1AAB9B;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.featured_images2 div:nth-child(1):hover .overlay3 {
  opacity: 0.7;
}
.overlay4 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #1AAB9B;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.featured_img4:hover .overlay4 {
  opacity: 0.7;
}
.overlay5 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #1AAB9B;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.featured_img5:hover .overlay5 {
  opacity: 0.7;
}

/* Comment Section*/
#comments{
    width: 100%;
    height: 100%;
    -moz-border:2px solid #e7e7e7;
    -ms-border: 2px solid #e7e7e7;
    -webkit-border: 2px solid #e7e7e7;
    border: 2px solid #e7e7e7;
     padding: 3%;
    padding-right: 1%;
    -webkit-box-shadow: 6px 6px 0px 0px #f1f2fb;
    -moz-box-shadow: 6px 6px 0px 0px #f1f2fb;
    box-shadow: 1px 1px 0px 3px #f1f2fb;
    margin-bottom: 60px;
    max-width: 65%;
    margin: 80px auto;
}
.says{
    display: none;
}
.avatar {
    width: 55px;
    height: 55px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
    border-radius: 150px;
    margin-right: 10px;
}

.featured_images1 img, .featured_images2 img{
    display: none;
}

/* inner page*/
.content-inner{
    margin: 90px auto;
    max-width: 80%;
    text-align: left;
}
.content-inner h1{
    font-size: 48px;
    font-weight: 600;
    color: #291a41;
    text-align: center;
     margin: 0 auto;
     max-width: 66%;
    line-height: 1.3;
}

.content-inner.on-dark h1{
  color: #fff;
}

.category_head h1{
    font-size: 48px;
    font-weight: 600;
    color: #291a41;
    text-align: center;
     margin: 0 auto;
     max-width: 66%;
    line-height: 1.3;
    padding-bottom:50px;
}
.content-inner h2{
    font-size: 18px;
    font-weight: 400;
    color: #53546a;
    text-align: center;
    margin: 10px;
    padding-bottom: 50px;
}
.content-inner.on-dark h2{
    color: #fff;
    opacity: .7
  }

.comment_form iframe
{
    margin-top:30px;
    height: 325px;
    width: 760px;
    margin-bottom:30px;
}

#splitauthor1{
    display: block;
}
#splitauthor2{
    display: none;
}
.comment_form {
    max-width: 55%;
    margin: -30px auto;
}
.comment_form hr {
    margin-top: 50px;
}
.comment_form  .size-thumbnail{
    width:150px;
}
.comment_form  .size-full{
    width:556px;
}
.comment_form  .size-medium{
    width:300px;
}
.comment_form p{
    font-size: 20px;
    color: #53546a;
    text-align: left;
    margin-bottom: 20px!important;
    line-height: 1.6;
}

.comment_form h3, h1, h2{
    font-size: 24px;
    font-weight:700;
    color: #53546a;
    text-align: left;
    margin-bottom: 10px!important;
    line-height: 1.5;
}

.comment_form ul li{
    font-size: 20px;
    color: #53546a;
    text-align: left;
    margin-bottom: 10px!important;
    line-height: 1.5;
    list-style-type:disc;
    margin-left: 20px;
}

.comment_form ol li{
    font-size: 20px;
    color: #53546a;
    text-align: left;
    margin-bottom: 10px!important;
    line-height: 1.5;
    list-style-type:decimal;
    margin-left: 20px;
}

#thumbnail{
    width: 100%;
    margin: 0 auto;
    max-width: 65%;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 400px;
     background-repeat: no-repeat !important;
    background-position: center;
    background-size: cover;
}

.comment-reply-title{
    margin-left: 0!important;
    margin-bottom: 10px !important;
    color: #291a41;
    font-weight: 600;
    font-size: 32px;
    text-align: left!important;

}
.comment-notes {
    color: #888888;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}
.comment-notes .required{
    color: red;
}

.form-group {
    display: inline-block;
    width: 32%;
}
textarea{
    font-family: roboto, sans-serif;
    font-style: normal;
}

.form-group input:first-child{
    margin-left: 0;
}
.form-group input{
    width: 98%;
    height: 50px;
    margin-left: 2%;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border: 2px solid #e1e6e8;
    -ms-border: 2px solid #e1e6e8;
    -webkit-border: 2px solid #e1e6e8;
    border: 2px solid #e1e6e8;
    -webkit-appearance: none;
}
.form-group {
  position: relative;
}
.form-group .palceholder {
    position: absolute;
    top: 15px;
    padding: 0px 20px;
    display: none;
}
.form-group label {
      color: #888888;
    font-size: 16px;
    font-weight: 400;
}
.form-group .star {
  color: red;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #888888;
    font-size: 16px;
    font-weight: 400;
}

::-moz-placeholder { /* Firefox 19+ */
      color: #888888;
    font-size: 16px;
    font-weight: 400;

}
:-ms-input-placeholder { /* IE 10+ */
     color: #888888;
    font-size: 16px;
    font-weight: 400;

}
:-moz-placeholder { /* Firefox 18- */
      color: #888888;
    font-size: 16px;
    font-weight: 400;

}
.comment-text{
    width: 96.3%;
    height: 148px;
    margin: 20px 0px 0px;
     -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border: 2px solid #e1e6e8;
    -ms-border: 2px solid #e1e6e8;
    -webkit-border: 2px solid #e1e6e8;
    border: 2px solid #e1e6e8;
     -webkit-appearance: none;
    appearance:none;
}
.comment-btn{
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    width: 200px;
    height: 59px;
    margin-top: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    -moz-transition: 0.7s;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-border: 2px solid #e1e6e8;
    -ms-border: 2px solid #e1e6e8;
    -webkit-border: 2px solid #e1e6e8;
    border: 2px solid #e1e6e8;
    -webkit-appearance: none;
    appearance: none;
    background-color: #1abc9c;
}
.comment-btn:hover{
    background-color: #291a41;
}

#commentshead {
    font-size: 28px;
    font-weight: 500;
    color: #291a41;
    text-align: left;
    max-width: 100%;
    line-height: 1.3;
    margin-top: 30px;
}
#comment-title{
    font-size: 20px;
    font-weight: 500;
    color: #291a41;
    text-align: left!important;
    max-width: 100%!important;
    line-height: 1.3;
    margin: 20px auto;

}

.comment-content p{
    font-size: 18px;
    font-weight: 400;
    color: #888888;
    text-align: left!important;
    max-width: 100%!important;
    line-height: 1.3;
    margin: 5px auto;
    margin-bottom: 35px;
}
.comment-metadata{
    margin-left: 70px;
    top: -22px;
    position: relative;
}
.comment-metadata .reply{
    display: inline-block;
}
.comment-metadata .reply::before{
    content: '|';
    padding: 10px;
    font-size: 14px;
}
.comment-metadata .reply a{
    color: #447afb;
    font-size: 14px;
    font-weight: 400;
}
.comment-metadata time{
    color: #797979;
    font-size: 14px;
    font-weight: 400;
}
.fn{
    top: -7px;
    position: relative;
    color: #2c2c2c;
    font-size: 14px;
    font-weight: 700;
}
.comment-body{
    margin-bottom: 30px;
}
 textarea{
     padding-top: 20px;
}
input[type=text], textarea{
   padding-left: 18px;
    box-sizing: border-box;
}

.next_post{
/*    height: 100%;*/
    width: 100%;
    position: relative;
    max-width: 65%;
    margin: 180px auto;
    margin-bottom: 70px;
}
.next_post .featured_images2 {
    width: 100%;
    margin: 0 auto;
    display: table;
    margin-bottom: 50px;
    position: relative;
    max-width: 100%;
    padding-bottom: 0;
}

.next_post .featured_img3, .next_post .featured_img4, .next_post .featured_img5 {
    float: left;
    width: 32%;
    margin-left: 2%;
    position: relative;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.next_post .featured_img3 {
    margin: 0;
}

.next_post  #gradiantlayer {
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.next_post #nexttitle{
    position: absolute;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    bottom: 50px;
    margin-left: 20px;
    max-width: 90%;
    text-align: left;
}
#nexthead{
    font-size: 24px;
    font-weight: 700;
    color: #291a41;
    text-align: left;
    margin: 0 auto;
    max-width: 100%;
    line-height: 1.3;
    margin-bottom: 30px;
    padding-top: 30px;
}
.next_post small{
    position: relative;
    bottom: 45px;
    margin-left: 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    opacity: 0.5;
}
.accord {
    background-color: #1abc9c !important;
    border-radius: 50%;
    height:41px!important;
    float: right;
    padding: 5px !important;
    -moz-border: none;;
    -ms-border: none;;
    -webkit-border: none;;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-right: 10px;
    width: 41px !important;
    cursor: pointer;
    top: -40px;
    position: relative;
}
.accord:hover{
/*    background-color: #291a41;*/
}

.accord:after {
    content: '\002B';
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    top: 0px;
    position: relative;
}
.accordchanged:after{
    top: -1px;
    position: relative;
}

.accord.active:after {
    content: "\2212";
}
.comment-list{

    display: none;
}

#titleonly{
    font-size: 32px;
    font-weight: 700;
    color: #291a41;
    text-align: left;
    margin: 0 auto;
    max-width: 890px;
    line-height: 1.3;
}
#timeonly{
    font-size: 25px;
    font-weight: 400;
    color: #53546a;
    text-align: left;
    margin: 0 auto;
    max-width: 890px;
    top: 20px;
    position: relative;
    opacity: 0.7;
}
#nextbg{
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
#nextgradiant{
    position: absolute;
    width: 100%;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width:1024px){
    .menu-primary-container {
        width: 100%;
        height: 50px;
        max-width: 85%;
/*
        margin: 40px auto;
        position: relative;
*/
    }

    .site-header {
        margin: 80px auto;
        max-width: 63%;
        text-align: center;
    }
    .site-title {
/*
        color: #291a41;
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 20px;
*/
    }
    .site-description {
/*
        color: #53546a;
        font-size: 21px;
        font-weight: 400;
*/
    }
    .featured_images1 h3, .featured_images2 h3 {
        position: absolute;
        color: #ffffff;
        font-size: 21px;
        font-weight: 700;
        bottom: 40px;
        margin-left: 20px;
        /*max-width: 90%;*/
    }
    .featured_images1 small, .featured_images2 small {
        position: absolute;
        bottom: 20px;
        margin-left: 20px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
    }
    .featured_img1, .featured_img2{
        height: 250px;
    }
    .featured_images1 {
        width: 95%;
        margin: 0 auto 20px auto;
        display: table;
        position: relative;
        height: 250px;
    }

    .featured_images2 {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 100px;
        display: table;
        position: relative;
        height: 250px;
    }
     .featured_img3,
     .featured_img4,
     .featured_img5{
        height: 250px;
    }
    #gradiantlayer {
        height: 250px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .content {
        max-width: 82%;
            margin: -60px auto;
    }
    .category  .content {
        max-width: 82%;
            margin: 60px auto;
    }

    .sidebar {
        width: 30%;
        float: right;
        margin: 0;
    }
    .content_post p {
/*
        font-weight: 400;
        font-size: 20px;
        color: #53546a;
        margin-bottom: 15px;
        position: relative;
        max-width: 90%;
        line-height: 1.5;
*/
    }
    .content_post .button-container {
/*        margin-bottom: 60px;*/
    }
    .content_post .button-container a {
/*
        color: #447afb;
        font-size: 20px;
        font-weight: 700;
        background-position: left 115px top 6px;
*/
    }
    .content_post .button-container a:hover {
/*        background-position: left 130px top 6px;*/
    }
    .content_post h3 {
        font-weight: 700;
        font-size: 24px;
        color: #291a41;
        margin-bottom: 20px;
        position: relative;
        max-width: 90%;
    }

    .content-inner h1 {
        font-size: 39px;
        max-width: 590px;
        margin-top: 110px;
    }
    .content-inner h2 {
        font-size: 24px;
        font-weight: 400;
        color: #53546a;
        text-align: center;
        margin: 20px;
    }

    #thumbnail {
        width: 100%;
        margin: 0 auto;
        max-width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat !important;
        background-position: center;
    }
    .content-inner {
        margin: 60px auto;
        max-width: 95%;
        text-align: left;
    }
    #comments{
        width: 100%;
        height: 100%;
        -moz-border:2px solid #e7e7e7;
        -ms-border: 2px solid #e7e7e7;
        -webkit-border: 2px solid #e7e7e7;
        border: 2px solid #e7e7e7;
        -webkit-appearance: none;
        appearance:none;
         padding: 3%;
        -webkit-box-shadow: 6px 6px 0px 0px #f1f2fb;
        -moz-box-shadow: 6px 6px 0px 0px #f1f2fb;
        box-shadow: 1px 1px 0px 3px #f1f2fb;
        margin-bottom: 60px;
        max-width: 100%;
        margin: 60px auto;
    }
    .comment_form {
    max-width: 75%;
    margin: -30px auto;
}
    .comment_form p {
/*
        font-size: 21px;
        font-weight: 400;
        color: #53546a;
        text-align: left;
        margin-bottom: 20px!important;
        line-height: 1.3;
        max-width: 100%;
        margin: 0 auto;
*/
    }
    .social_inner {
/*
        width: 100%;
        margin: 0 auto;
        max-width: 100%;
         display: inline-block;
*/
    }
    .next_post .featured_img3, .next_post .featured_img4, .next_post .featured_img5 {
        height: 250px;
    }
    .next_post {
        height: 100%;
        width: 100%;
        position: relative;
        max-width: 95%;
/*        margin: 60px auto;*/
    }

    .next_post #gradiantlayer {
        height: 250px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width:768px){

    .menu .mlogo {
        float: left;
        position: relative;
/*
        top: -18px;
        left: -36px;
*/
    }
    .menu li img {
        width: 200px;
        position: relative;
        top: -2px;
    }

    .featured_images1 h3, .featured_images2 h3 {
        position: absolute;
        color: #ffffff;
        font-size: 31px;
        font-weight: 600;
        bottom: 40px;
        margin-left: 20px;
        max-width: 90%;
    }

    .menu-primary-container {
/*
        width: 100%;
        height: 50px;
        max-width: 90%;
        margin: 30px auto;
        position: relative;
*/
    }
    .menu li img {
      width: 190px;
    }
    .makerhome a {
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        color: #291a41;
        position: relative;
        z-index: 1;
        top: -11px;
    }

    input[type=text], textarea {
/*        padding: 12px 20px;*/
        box-sizing: border-box;
/*        padding-bottom: 20px;*/
    }
    .site-header {
        margin: 70px auto;
        max-width: 90%;
        text-align: center;
    }
    .site-title {
        color: #291a41;
        font-size: 54px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .featured_images1 {
        width: 100%;
        margin: 0 auto 10px auto;
        display: table;
        position: relative;
        max-width: 90%;
    }
    .featured_images2 {
        width: 100%;
        margin: -8px auto;
        margin-bottom: 100px;
        display: table;
        position: relative;
        height: 250px;
        max-width: 90%;
        padding-bottom: 30px;
    }
    .overlay1 {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      opacity: 0;
       -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
     transition: .3s ease;
    background-color: #1AAB9B;
    }

    .overlay2 {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      opacity: 0;
      -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
         transition: .3s ease;
        background-color: #1AAB9B;
    }
    .featured_img1, .featured_img2{
        height: 100%;
    }
    .featured_img1 {
        width: 100%;
        float: none;
        margin-bottom: 20px;
        position:relative;
        height: 300px;
    }
    .featured_img2 {
        width: 100%;
        float: none;
        margin-left: 0;
        position:relative;
        height: 300px;
        margin-bottom: 20px;
    }
    .featured_img3,
    .featured_img4,
    .featured_img5 {
        float: none;
        width: 100%;
        margin-left: 0;
        position: relative;
        margin-top: 10px;
        height: 300px;
        margin-bottom: 20px!important;
    }
    #gradiantlayer {
        height: 300px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .content {
        position: relative;
        max-width: 89%;
        margin: -80px auto;
        display: table;
    }
    .content h6 {
        font-weight: 500;
        font-size: 24px;
        color: #291a41;
        margin-bottom: 30px;
        position: relative;
    }

    .content_post {
        position: relative;
        margin: 0 auto;
        float: left;
        width: 100%;
    }
    .content_post h3 {
        font-weight: 700;
        font-size: 25px;
        color: #291a41;
        margin-bottom: 20px;
        position: relative;
        max-width: 100%;
        line-height: 1.5;
    }
    .content_post p {
/*
        font-weight: 400;
        font-size: 18px;
        color: #53546a;
        margin-bottom: 20px;
        position: relative;
        max-width: 100%;
        line-height: 1.5;
*/
    }
    .social_inner {
/*
        width: 100%;
        margin: 40px auto;
*/
        max-width: 100%;
        /* display: inline-block; */
    }
    .social_inner span:first-child {
        margin-left: 10px;
/*        top: 0;*/
    }
/*
    .social_inner h2 {
        font-size: 20px;
        font-weight: 500;
        color: #53546a;
        text-align: center;
        margin-top: -7px;
        opacity: 0.6;
    }
*/
    #comments {
        width: 100%;
        height: 100%;
        -moz-border: 2px solid #e7e7e7;
        -ms-border: 2px solid #e7e7e7;
        -webkit-border: 2px solid #e7e7e7;
        border: 2px solid #e7e7e7;
        -webkit-appearance: none;
        appearance: none;
        padding: 6%;
        -webkit-box-shadow: 6px 6px 0px 0px #f1f2fb;
        -moz-box-shadow: 6px 6px 0px 0px #f1f2fb;
        box-shadow: 1px 1px 0px 3px #f1f2fb;
        margin-bottom: 60px;
        max-width: 100%;
        margin: 70px auto;
    }
    .comment-reply-title {
        margin-left: 0!important;
        margin-bottom: 10px !important;
        color: #291a41;
        font-weight: 600;
        font-size: 24px;
        text-align: left!important;
    }
    .content_post .button-container {
/*        margin-bottom: 60px;*/
    }
    .sidebar{
        display: none;
    }

    .form-group {
        display: block;
        width: 100%;
        margin-bottom: 18px;
    }
    #thumbnail {
        width: 100%;
        margin: 0 auto;
        max-width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat !important;
        background-position: center;
    }
    .content-inner {
        margin: 60px auto;
        max-width: 90%;
        text-align: left;
    }
    .content-inner h1 {
        font-size: 32px;
        font-weight: 700;
        color: #291a41;
        text-align: center;
        margin: 0 auto;
        max-width: 80%;
        line-height: 1.3;
    }
    .comment_form {
        max-width: 85% !important;
        margin: -30px auto;
    }
    .content-inner h2 {
        font-size: 18px;
        font-weight: 400;
        color: #53546a;
        text-align: center;
        margin: 30px;
    }
    .comment_form p {
/*
        font-size: 18px;
        font-weight: 400;
        color: #53546a;
        text-align: left;
        margin-bottom: 20px!important;
        line-height: 1.5;
        max-width: 100%;
        margin: 0 auto;
*/
    }
    .social_inner span {
/*        font-size: 34px;*/
    }

    .comment-text {
        width: 98%;
    }
    .comment-text {
        width: 98%;
        height: 148px;
        margin: 4px 0px 0px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 10px;
        -moz-border: 2px solid #e1e6e8;
        -ms-border: 2px solid #e1e6e8;
        -webkit-border: 2px solid #e1e6e8;
        border: 2px solid #e1e6e8;
        -webkit-appearance: none;
        appearance: none;
    }
    #commentshead {
        font-size: 26px;
        font-weight: 500;
        color: #291a41;
        text-align: left;
        max-width: 100%;
        line-height: 1.3;
        margin-top: 30px;
    }
    #comment-title {
    font-size: 18px;
    font-weight: 500;
    color: #291a41;
    text-align: left!important;
    max-width: 100%!important;
    line-height: 1.3;
    margin: 20px auto;
}
    .comment-list {
        padding-left: 0;
    }
    .comment-content p {
        font-size: 15px;
        font-weight: 400;
        color: #888888;
        text-align: left!important;
        max-width: 100%!important;
        line-height: 1.3;
        margin: 5px auto;
        margin-bottom: 35px;
    }
    .comment-metadata {
        margin-left: 56px;
        top: -21px;
        position: relative;
        width: 100%;
    }
    .comment-metadata time {
        color: #797979;
        font-size: 12px;
        font-weight: 400;
    }
    .comment-metadata .reply a {
        color: #447afb;
        font-size: 12px;
        font-weight: 400;
    }
    .avatar {
        width: 43px;
        height: 43px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        -ms-border-radius: 150px;
        -o-border-radius: 150px;
        border-radius: 150px;
        margin-right: 10px;
    }
/*
    .social_inner .twitter {
        background-size: 26px;
        background: url(../img/Share.svg);
        background-repeat: no-repeat;
        padding-left: 2.5em;
        -moz-transition: 0.7s;
        -webkit-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s;
        font-size: 42px;
    }
*/
    .next_post {
        height: 100%;
        width: 100%;
        position: relative;
        max-width: 85%;
        margin: 180px auto;
        margin-bottom: 0;
    }
    .next_post .featured_images2 {
        width: 100%;
        margin: 0 auto;
        display: table;
        margin-bottom: 20px;
        position: relative;
        max-width: 100%;
        padding-bottom: 0;
    }
    .next_post .featured_img3, .next_post .featured_img4, .next_post .featured_img5 {
        float: none;
        width: 100%;
        margin-left: 0;
        position: relative;
        margin-top: 10px;
        height: 300px;
        margin-bottom: 20px!important;
    }
    .next_post #gradiantlayer {
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

    #nexthead {
        font-size: 18px;
        font-weight: 700;
        color: #291a41;
        text-align: left;
        margin: 0 auto;
        max-width: 100%;
        line-height: 1.3;
        margin-bottom: 30px;
    }
    #nexttitle{
        position: absolute;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        bottom: 40px;
        margin-left: 20px;
        max-width: 90%;
    }
    #nexttime{
        position: absolute;
        bottom: 20px;
        margin-left: 20px;
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        opacity: 0.7;
    }
    #titleonly {
        font-size: 20px;
        font-weight: 700;
        color: #291a41;
        text-align: left;
        margin: 0 auto;
        max-width: 890px;
        line-height: 1.3;
    }
    #timeonly {
        font-size: 18px;
        font-weight: 400;
        color: #53546a;
        text-align: left;
        margin: 0 auto;
        max-width: 890px;
        top: 15px;
        position: relative;
        opacity: 0.7;
    }
}


@media only screen and (max-width:480px){
    .pagecontainer{
    width:100%;
    height:100%;
    margin:25% auto;
    max-width:92%;
    text-align:center;
}
.pagecontainer h1 {
    color: white;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
}

    #splitauthor1{
        display: none;
    }
    #splitauthor2{
        display: block;
        line-height: 1.5;
    }
    .menu-primary-container {
        width: 100%;
        height: 50px;
        max-width: 92%;
/*        margin: 20px auto;*/
        position: relative;
        top: 30px;
    }


.comment_form iframe
{

    height: 180px;


}



    .menu .mlogo {
        float: left;
        position: relative;
        top: -13px;
/*        left: -20px;*/
    }
    .menu li img {
        width: 160px;
        float: left;
        position: relative;
        top: 13px;
    }
    .makerhome {
       float: right;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        position: relative;
        right: -1px;
    }
    .makerhome a {
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        color: #291a41;
        position: relative;
        z-index: 1;
        top: -22px;
    }
    .makerhome svg {
        width: 150px;
        position: relative;
        top: 14px;
        z-index: -1;
    }
    .site-header {
        margin: 30px auto;
        max-width: 90%;
        text-align: center;
        margin-bottom: 30px;
    }
    .site-title {
        color: #291a41;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 18px;
        text-align: center;
    }
    .site-description {
        color: #53546a;
        font-size: 17px;
        font-weight: 400;
        max-width: 300px;
        line-height: 1.5;
        text-align: center;
        margin: 0 auto;
    }
    .featured_images2 {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 80px;
        display: table;
        position: relative;
        height: 270px;
    }
    .featured_images1 {
        width: 90%;
        margin: 0 auto 10px auto;
        display: table;
        position: relative;
        height: 270px;
    }
    .overlay1 {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      opacity: 0;
      -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
         transition: .3s ease;
        background-color: #1AAB9B;
    }

    .overlay2 {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      opacity: 0;
     -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
         transition: .3s ease;
        background-color: #1AAB9B;
    }
    .featured_img1 {
        width: 100%;
        float: none;
        margin-bottom: 20px;
        position: relative;
        height: 270px;
        background-position: center;
    }
    .featured_img2 {
        width: 100%;
        float: none;
        margin-bottom: 10px;
        position: relative;
        height: 270px;
        background-position: center;
    }
    .featured_img3,
    .featured_img4,
    .featured_img5{
        width: 100%;
        float: none;
        margin-bottom: 20px !important;
        position: relative;
        height: 270px;
        background-position: center;
    }
    #gradiantlayer {
        height: 270px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .featured_images1 h3, .featured_images2 h3 {
        position: absolute;
        color: #ffffff;
        font-size: 22px;
        font-weight: 700;
        bottom: 40px;
        margin-left: 20px;
        max-width: 90%;
    }
    .featured_images1 small, .featured_images2 small {
        position: absolute;
        bottom: 20px;
        margin-left: 20px;
        color: #ffffff;
        font-size: 13px;
        font-weight: 500;
        opacity: 0.7;
    }
    .content {
        position: relative;
        max-width: 90%;
        margin: -30px auto;
        display: table;
        text-align: left;
    }
    .content_post .button-container a {
/*
        color: #447afb;
        font-size: 18px;
        font-weight: 700;
        background-position: left 105px top 4px;
*/
    }
/*
    .content h6 {
        font-weight: 500;
        font-size: 20px;
        color: #291a41;
        margin-bottom: 30px;
        position: relative;
    }
*/

    .content_post {
        position: relative;
        margin: 0 auto;
        float: left;
        width: 100%;
    }

    .content_post h2 {
        font-size: 24px;
        line-height: 1.25;
        font-weight: 600;
        color: #291a41;
        margin-bottom: 20px;
        position: relative;
        max-width: 90%;
    }
    .content_post p {
        font-weight: 400;
        font-size: 18px;
        color: #53546a;
        margin-bottom: 20px;
        position: relative;
        max-width: 100%;
        line-height: 1.5;
    }
    .content_post .button-container {
/*        margin-bottom: 45px;*/
    }
/*
    .content_post .button-container a::after {
        content: '>';
        padding-left: 10px;
        font-size: 18px;
        top: 1px;
        position: relative;
    }
*/
    .content_post .button-container a:hover {
         background-position: left 120px top 4px;
    }

    .sidebar{
        display: none;
    }
    .content-inner {
        margin: 45px auto;
        max-width: 90%;
        text-align: left;
    }
    .social_inner img {
        width: 25px;
        vertical-align: sub;
    }
    .content-inner h1 {
        font-size: 32px;
        font-weight: 700;
        color: #291a41;
        text-align: center;
        margin: 0 auto;
        max-width: 95%;
        line-height: 1.3;
    }

    .content-inner h2 {
        font-size: 17px;
        font-weight: 400;
        color: #53546a;
        text-align: center;
        margin: 20px;
        padding-bottom: 30px;
    }
    .next_post {
        height: 100%;
        width: 100%;
        position: relative;
        max-width: 85%;
        margin: 120px auto;
        margin-bottom: 0;
    }
    .comment-reply-title {
        margin-left: 0!important;
        margin-bottom: 10px !important;
        color: #291a41;
        font-weight: 600;
        font-size: 26px;
        text-align: left!important;
    }
    .comment-notes {
        color: #888888;
        font-weight: 400;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .comment_form {
        max-width: 85% !important;
        margin: -20px auto;
    }
    .comment_form p {
        font-size: 18px;
        font-weight: 400;
        color: #53546a;
        text-align: left;
        margin-bottom: 20px!important;
        line-height: 1.5;
        max-width: 100%;
        margin: 0 auto;
    }


    #comments {
        width: 100%;
        height: 100%;
        -webkit-border: 2px solid #e7e7e7;
        -moz-border: 2px solid #e7e7e7;
        border: 2px solid #e7e7e7;
        -webkit-appearance: none;
        appearance: none;
        padding: 6%;
        -webkit-box-shadow: 6px 6px 0px 0px #f1f2fb;
        -moz-box-shadow: 6px 6px 0px 0px #f1f2fb;
        box-shadow: 1px 1px 0px 3px #f1f2fb;
        margin-bottom: 60px;
        max-width: 100%;
        margin: 60px auto;
        padding-top: 40px;
    }

    .social_inner {
        width: 100%;
        margin: 30px auto;
        max-width: 100%;
    }

    .social_inner span {
        font-size: 24px;
        color: #c1c1d0;
        margin-left: 0px;
    }
    .social_inner .twitter {
/*        background-size: 24px;*/
    }
    .social_inner .twitter:hover {
/*        background-size: 24px;*/
    }
    .social_inner .twitter {
        background-size: 26px;
        background: url(../img/Share.svg);
        background-repeat: no-repeat;
        padding-left: 2.5em;
        -moz-transition: 0.7s;
        -webkit-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s;
        font-size: 22px;
        top: -1px;
        position: relative;
    }
    .social_inner .facebook {
        background-size: 27px;
        background: url(../img/tweet.svg);
        background-repeat: no-repeat;
        font-size: 21px;
        padding-left: 2.5em;
        -moz-transition: 0.7s;
        -webkit-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s;
        top: 0px;
        position: relative;
    }
    .social_inner h2 {
        font-size: 14px;
        font-weight: 500;
        color: #53546a;
        text-align: center;
        margin-top: -2px;
        opacity: 0.6;
    }
    .facebook {
        background-image: url(../img/facebook.png);
        background-size: 25px;
        background-repeat: no-repeat;
        padding-left: 2.5em;
        background-position: left 0px top 0px;
    }
    .twitter {
        background-image: url(../img/twitter.png);
        background-size: 24px;
        background-repeat: no-repeat;
        padding-left: 2.5em;
        background-position: left 0px top 0px;
    }

    .comment-btn {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        width: 157px;
        height: 50px;
        margin-top: 20px;
        letter-spacing: 1px;
        cursor: pointer;
        -moz-transition: 0.7s;
        -webkit-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -webkit-border-radius: 16px;
        border-radius: 16px;
        -moz-border: 2px solid #e1e6e8;
        -ms-border: 2px solid #e1e6e8;
        -webkit-border: 2px solid #e1e6e8;
        border: 2px solid #e1e6e8;
        -webkit-appearance: none;
        appearance: none;
        background-color: #1abc9c;
    }
    #nextbg {
        height: 170px;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
    }
    #nextgradiant{
        position: absolute;
        width: 100%;
        height: 170px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .children{
        padding-left: 0;
    }
}

/** SEARCH BOX */

.makerdao-search-form {
    border: 1px solid #D8E0E3;
    border-radius: 5px;
    font-family: inherit;
    padding: 1em 6em 1em 1em;
    position: relative;
}

.makerdao-search-field {
    border: 0;
    font-family: inherit;
    font-size: 16px;
    width: 100%;
}

.makerdao-search-field:focus {
    outline: none;
}

.makerdao-search-submit {
    background: 0;
    border: 0;
    color: #678590;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    padding: 1em;
    position: absolute;
    top: 0;
    right: 0;
    width: 6em;
}

.makerdao-search-submit:focus {
    outline: none;
}

/* Remove browser-specific chrome for all search boxes. */
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
